.arrivals {
    padding-top: 120px;
    padding-bottom: 143px;
}

.arrivals__header {
    margin-bottom: 100px;
}

.arrivals__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}

@media (max-width: 1078px) {
    .arrivals {
        padding: 80px 0 100px;
    }

    .arrivals__header {
        margin-bottom: 60px;
    }

    .arrivals__cards {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .arrivals__cards {
        flex-direction: column;
        align-items: center;
    }
    .arrivals__header{
        text-align: center;
    }
}