.promo {
	margin-bottom: 63px;
}

.promo__content {
	display: flex;
	column-gap: 24px;

	padding-top: 68px;
	padding-left: 120px;

	border-radius: 59px;
	background-color: #f4f6f5;
}

.promo__title {
	max-width: 480px;
	margin-bottom: 40px;
	font-weight: 900;
	font-size: 96px;
	line-height: 1.25;
}

.promo__desc {
	margin-bottom: 32px;
	font-weight: 400;
	font-size: 32px;
	line-height: calc(48 / 32);
	letter-spacing: -0.05em;
}

.promo__btn-wrapper {
	display: flex;
	column-gap: 34px;
	align-items: center;
}

.promo__btn-wrapper::before {
	content: '';
	display: inline-block;
	width: 190px;
	height: 32px;
	background-image: url('./../../img/icons/decor-yellow.svg');
}

.promo__btn {
	padding: 18px 40px;

	background: #000000;
	border-radius: 10px;

	font-weight: 500;
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: -0.05em;
	color: #fff;
}

.highlight {
	position: relative;
	display: inline-block;
}

.highlight span {
	position: relative;
	z-index: 1;
}

.highlight::before {
	content: '';
	display: block;
	position: absolute;
	top: -12px;
	bottom: 0px;
	left: -40px;
	right: -160px;
	background-color: #fff;
	transform: rotate(-2deg);
}

.highlight--yellow::before {
    right: -110px;
    background-color: #EBD96B;
}

@media (max-width: 1200px) {
	.promo__content {
		padding: 48px 80px;
	}

	.promo__title {
		font-size: 80px;
	}
}

@media (max-width: 992px) {
	.promo__content {
		padding: 48px 40px;
		column-gap: 16px;
	}

	.promo__title {
		font-size: 64px;
	}

	.promo__desc {
		font-size: 26px;
	}

	.promo__btn {
		font-size: 24px;
	}
}

@media (max-width: 768px) {
	.promo__content {
		flex-direction: column-reverse;
		row-gap: 24px;
		padding: 40px 24px;
		text-align: center;
	}

	.promo__title {
		margin-bottom: 24px;
		font-size: 48px;
		display: contents;
	}

	.promo__btn-wrapper {
		justify-content: center;
	}

	.promo__btn-wrapper::before {
		display: none;
	}

	.highlight::before {
		left: -15px;
		right: -60px;
	}

	.highlight--yellow::before {
		right: -20px;
	}
}

@media (max-width: 480px) {
	.promo__content {
		padding: 32px 18px;
		border-radius: 32px;
	}

	.promo__title {
		font-size: 42px;
	}

	.promo__desc {
		font-size: 20px;
		line-height: 1.5;
	}

	.promo__btn {
		width: 100%;
		font-size: 18px;
	}

	.highlight::before {
		left: -10px;
		right: -18px;
	}
}