
body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-color: #fff;
}

.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
}

.title-2 {
    display: inline-block;
    position: relative;
    font-weight: 900;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: 0.06em;
}

.title-2::after {
    content: "";

    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 0px;
    width: 190px;
    height: 32px;

    background-image: url('./../img/icons/decor-yellow.svg');
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {
    .container {
        padding: 0 40px;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 0 32px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .title-2 {
        font-size: 38px;
    }

    .title-2::after {
        width: 150px;
        height: 26px;
    }
}

@media (max-width: 480px) {
    .title-2 {
        font-size: 30px;
        line-height: 1.2;
    }

    .title-2::after {
        width: 110px;
        height: 18px;
    }
}
