.join{
    background-color: #E5C643;
     display: flex;
}
.join__title{
   justify-content: center;
   font-weight: 900;
    font-size: 55px;
    line-height: 127%;
    padding-top: 141px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
}
.join__desc{
    justify-content: center;
    font-weight: 403;
    font-size: 32px;
    line-height: 109%;
    padding-top: 37px;
    letter-spacing: 0.03em;
    color: #fffcf8;
}
.padding_form{
    padding-top: 49px;
    padding-bottom: 156px;
}
.input_group {
    margin: auto !important;
    display: flex;
    align-items: center;
   background-color: #fff;
   border-radius: 10px;
   width: 572px;
    height: 87px;
   
}
.input_text{
font-weight: 400;
width: 400px;
font-size: 24px;
line-height: 146%;
padding-left: 27px;
letter-spacing: 0.03em;
color: #767676;    
}
.btn_send{
 border-radius: 8px;
width: 161px;
height: 67px;
background: #000;   
}
.text_send{
font-weight: 500;
font-size: 33px;
line-height: 106%;
letter-spacing: 0.03em;
text-transform: capitalize;
color: #fff;
}

@media (max-width: 768px) {
    .join{
         flex-direction: column;
         align-items: center;
         text-align: center;
    }
    .join__title {
        font-size: 40px;
        padding-top: 80px;
    }

    .join__desc {
        font-size: 24px;
        padding-top: 24px;
    }

    .padding_form {
        padding-bottom: 100px;
    }

    .input_group {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 16px;
        gap: 12px;
    }
    .input_text{
        width: 100%;
        }
   
    .btn_send {
        width: 100%;
        height: 56px;
    }

    .text_send {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .join__title {
        font-size: 32px;
    }

    .join__desc {
        font-size: 20px;
    }

    .padding_form {
        padding-bottom: 80px;
    }
}